TIMESCALE_HOST=timescaledb
TIMESCALE_USER=<your_timescale_user>
TIMESCALE_PASSWORD=<your_timescale_password>
TIMESCALE_PORT=5432
TIMESCALE_NAME=noise_map

POSTGRES_DB=noise_map
POSTGRES_USER=<your_timescale_user>
POSTGRES_PASSWORD=<your_timescale_password>

PGADMIN_DEFAULT_EMAIL=<your_pgadmin_user@mail>
PGADMIN_DEFAULT_PASSWORD=<your_pgadmin_password>

MAPTILER_API=<your_maptiler_api_key>
TOMTOM_API_KEY=<your_tomtom_api_key>

VITE_API_URL=localhost