CLAUDE.md
.env
.venv
frontend/node_modules/
frontend/dist/
MAdB*
2023-03-24*
data/
*.bak
archives
osmnx_cache
*.json
__pycache__
.rtk
# database-init/db-backup/*
# !database-init/db-backup/.gitkeep
debug
gtfs-statique